/* cart.css */

.cart-container {
    padding: 20px;
     text-align: center;
     /* justify-content: center; */
     width: 80%;
  }
  
  .cart-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
/*   
  .cart-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  } */
  
  /* .cart-item img {
    max-width: 90%;
    height: auto;
    object-fit: cover;
  }
  
  .cart-title {
    font-size: 1.2rem;
    margin: 10px 0;
  } */
/*   
  .cart-price {
    font-size: 1rem;
    color: #007bff;
  }
  
  .cart-quantity {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .cart-total {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
  } */
  