/* body.css */

.product {
    width: 90%;
    max-width: 280px; /* Adjust the max-width as needed */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  /* .product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  } */
  
  .product .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    text-align: center;
    padding: 8px;
    font-weight: bold;
  }
  
  .product .card-img-top {
    max-height: 200px; /* Adjust the max-height as needed */
    object-fit: cover;
  }
  
  .product .card-title {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product .card-text {
    font-size: 1rem;
  }
  
  .product .btn {
    background-color: #007bff;
    border: none;
    color: white;
    transition: background-color 0.3s;
  }
  
  .product .btn:hover {
    background-color: #0056b3;
  }
  